################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode2022/DesignTimeBuild/.dtbcache.v2
/.vs/AdventOfCode2022/v17/.futdcache.v1
/obj/project.nuget.cache
/obj/project.assets.json
/obj/Debug/net6.0/refint/AdventOfCode2022.dll
/obj/Debug/net6.0/ref/AdventOfCode2022.dll
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/AdventOfCode2022.pdb
/obj/Debug/net6.0/AdventOfCode2022.GlobalUsings.g.cs
/obj/Debug/net6.0/AdventOfCode2022.genruntimeconfig.cache
/obj/Debug/net6.0/AdventOfCode2022.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/AdventOfCode2022.dll
/obj/Debug/net6.0/AdventOfCode2022.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/AdventOfCode2022.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/AdventOfCode2022.csproj.BuildWithSkipAnalyzers
/obj/Debug/net6.0/AdventOfCode2022.csproj.AssemblyReference.cache
/obj/Debug/net6.0/AdventOfCode2022.assets.cache
/obj/Debug/net6.0/AdventOfCode2022.AssemblyInfoInputs.cache
/obj/Debug/net6.0/AdventOfCode2022.AssemblyInfo.cs
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0
/obj/AdventOfCode2022.csproj.nuget.g.targets
/obj/AdventOfCode2022.csproj.nuget.g.props
/obj/AdventOfCode2022.csproj.nuget.dgspec.json
/bin/Debug/net6.0/AdventOfCode2022.runtimeconfig.json
/bin/Debug/net6.0/AdventOfCode2022.pdb
/bin/Debug/net6.0/AdventOfCode2022.exe
/bin/Debug/net6.0/AdventOfCode2022.dll
/bin/Debug/net6.0/AdventOfCode2022.deps.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/AdventOfCode2022/v17/.suo
